@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .tag {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: 0.5rem;
        border-radius: 9999px;
        color: black;
        padding: 4px 6px 4px 10px;
        align-items: center;
    }
}